* {
box-sizing: border-box;
}

body{
background-color: #bbdfc8;
position: relative;
}
header{
    width: 99%;
    position: fixed;
    border: 4px solid #493323;
    background-color: #f2c6b4;
    top: 0px;
    z-index: 2;
    }

h1{
    color: #663f3f;
    padding-left: 10px;
    font-family: 'Permanent Marker', cursive;
    position: relative;
    top: 13px;

}

header img{
    width: 160px;
    float: left;
    margin-right: 50px;
    margin-left: 15px;
    
}
header p{
    text-align: right;
    color: #663f3f;
    font-size: x-large;
    font-weight: bold;
    position: relative;
    bottom: 40px;
    right: 100px;
    font-family: 'Akaya Kanadaka', cursive;
}
header ul li {
    display: inline-block;
    padding-left: 40px;
}
a{
    font-size: x-large;
    color: #663f3f;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Akaya Kanadaka', cursive;
}
header ul li :hover{
    color: chocolate;
}
table,th,td{
    border: 1px solid salmon;
}
main img{
    border-radius: 100%;
}

main{
    padding-top: 190px;
}

span{
    text-decoration: underline;
    color: brown;
}

main ul li,footer{
    font-size: larger;
    line-height: 30px;
    color: #115a56;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul p{
    font-size: x-large;
    color: #137e78;
    font-weight: bold;
    text-decoration: underline;
}
table{
    font-family:  Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px;
    margin-left: 80px;
    color: teal;
    font-size: large;
}
.prg{
    font-size: xxx-large;
    color: rgb(101, 158, 144);
    text-align: center;
    position: relative;
    bottom: 300px;
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: bold;
}
footer{
    background-color:#f2c6b4 ;
    padding: 20px;
    border: 2px solid #137e78;
}
.info{
    text-decoration: none;
  font-size: larger;
    color: #137e78;
    line-height: 35px;
}
.shirt{
    position: relative;
   left: 1000px;
   bottom: 270px;
   z-index: -1;
}
.family{
    position: relative;
    right: 20px;
}
.fish{
    margin-left: 20px;
}
.fishes{
    position: relative;
    top: 50px;
    left: 30px;
}
th{
    background-color:#137e78 ;
    color: white;
    font-weight:500;  
}
#newStandForm{
    background-color:#75cfb8 ;
    color: rgb(11, 70, 55);
    font-weight: 600;
    font-size: larger;
    line-height: 40px;
    margin: 80px;
}